# Auto detect text files and perform LF normalization
* text=auto
*.Baseline_best.py filter=lfs diff=lfs merge=lfs -text
Baseline_best.py filter=lfs diff=lfs merge=lfs -text
checkpoints/** filter=lfs diff=lfs merge=lfs -text
